.container {
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 3px 0px 15px 5px #5879d4;
  position: relative;
  top: 100px;
}

.title {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
  font-weight: 700;
}

.option_title {
  font-size: 1.25rem;
}

.idinput {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5px;
}

.agreement {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #313436;
  height: 80px;
  overflow-y: scroll;
  background: #ebebeb;
}

.btn_container {
  clear: both;
}

.error_msg {
  font-size: .8rem;
  line-height: 1.5rem;
  height: 1.5rem;
}

.agreeLabel {
  float: right;
  margin-right: 0;
  line-height: 20px;
}