.container {
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 3px 0px 15px 5px #5879d4;
  position: relative;
  top: 100px;
}

.title {
  font-size: 35px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
  font-weight: 700;
}

.btn_container {
  display: grid;
}

.findli {
  float: left;
  position: relative;
  line-height: 22px;

}
.findli:last-child {
  margin-left: 20px;
}
.findli:last-child::before {
  position: absolute;
  content: '|';
  box-sizing: border-box;
  color: var(--bs-gray-600);
  text-align: center;
  display: block;
  font-size: 14px;
  padding-bottom: 2px;
  left: -11px;
}

.findlink {
  text-decoration: none;
  color: var(--bs-gray-600);
}

.link {
  text-decoration: none;
  color: var(--bs-blue);
}
.link:hover {
  text-decoration: underline;
}